In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [1]:
akas = pd.read_csv("/Users/byc/Desktop/543 Data/title.akas.tsv", sep='\t')
print("1.Done")
basics = pd.read_csv("/Users/byc/Desktop/543 Data/title.basics.tsv", sep='\t')
print("2.Done")
crew = pd.read_csv("/Users/byc/Desktop/543 Data/title.crew.tsv", sep='\t')
print("3.Done")
episode = pd.read_csv("/Users/byc/Desktop/543 Data/title.episode.tsv", sep='\t')
print("4.Done")
ratings = pd.read_csv("/Users/byc/Desktop/543 Data/title.ratings.tsv", sep='\t')
print("5.Done")
name = pd.read_csv("/Users/byc/Desktop/543 Data/name.basics.tsv", sep='\t')
print("6.Done")
principals = pd.read_csv("/Users/byc/Desktop/543 Data/title.principals.tsv", sep='\t')
print("7.Done")

## Akas df

Considered only the orginal titles to avoid redundancy. Dropped [region, language, attributes, isOriginalTitle, types, ordering] columns as most of the values are either missing or same for all.

In [ ]:
akas = akas[akas['isOriginalTitle']==1]

In [ ]:
akas['region'].value_counts()

\N     87193
XWW        2
JP         1
DK         1
Name: region, dtype: int64

In [ ]:
akas['language'].value_counts()

\N    87193
da        1
en        1
ja        1
ca        1
Name: language, dtype: int64

In [ ]:
akas['attributes'].value_counts()

\N                           87196
first four episodes title        1
Name: attributes, dtype: int64

In [ ]:
akas['types'].value_counts()

original    87197
Name: types, dtype: int64

In [ ]:
#checking for null values
#akas1.isna().sum()

In [ ]:
to_drop = ['region','language','attributes','isOriginalTitle','types','ordering']
akas.drop(to_drop, inplace=True, axis=1)
akas.rename(columns={"titleId": "tconst"}, inplace=True)

In [ ]:
print("The table has",akas.shape[0],"rows and",akas.shape[1],"columns.")
akas.dtypes

The table has 87197 rows and 2 columns.

tconst    object
title     object
dtype: object

In [ ]:
akas.head()

       tconst                   title
5   tt0000001              Carmencita
7   tt0000002  Le clown et ses chiens
19  tt0000003          Pauvre Pierrot
23  tt0000004             Un bon bock
40  tt0000005        Blacksmith Scene

## Basics

Replaced miscellaneous values in [isAdult, runTimeMinutes] columns with 0 and 30 respectively.

In [ ]:
isadult_values = basics['isAdult'].unique()
isadult_values

array([   0,    1, 2019, 1981, 2020, 2004, 2014, 2015, 1994, 2005])

In [ ]:
for value in isadult_values:
    if value != 1:
        basics["isAdult"].replace({value: 0}, inplace=True)
    else:
        continue

In [ ]:
runtimeMinutes_values = basics['runtimeMinutes'].unique()
for value in runtimeMinutes_values:
    if value.isdecimal() or value =='\\N':
        continue
    else:
        print(value)

Reality-TV
Talk-Show
Documentary
Animation,Comedy,Drama

In [ ]:
for value in runtimeMinutes_values:
    if value.isdecimal():
        continue
    elif value =='\\N':
        continue
    else:
        basics["runtimeMinutes"].replace({value: 30}, inplace=True)

In [ ]:
print("The table has",basics.shape[0],"rows and",basics.shape[1],"columns.")
basics.dtypes

The table has 6651010 rows and 9 columns.

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult            int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [ ]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

## Crew df

Made sure there are no duplicate titles.

In [ ]:
crew['tconst'].nunique()

6651010

In [ ]:
print("The table has",crew.shape[0],"rows and",crew.shape[1],"columns.")
crew.dtypes

The table has 6651010 rows and 3 columns.

tconst       object
directors    object
writers      object
dtype: object

In [ ]:
crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

## Episode df

Verified that there are no duplicates in tconst and made sure [seasonNumber, episodeNumber] only has numeric values.

In [ ]:
episode['tconst'].nunique()

4760011

In [ ]:
episode_val = episode['episodeNumber'].unique()
for value in episode_val:
    if value.isdecimal() or value =='\\N':
        continue
    else:
        print(value)

In [ ]:
season_val = episode['seasonNumber'].unique()
for value in season_val:
    if value.isdecimal() or value =='\\N':
        continue
    else:
        print(value)

In [ ]:
print("The table has",episode.shape[0],"rows and",episode.shape[1],"columns.")
episode.dtypes

The table has 4760011 rows and 4 columns.

tconst           object
parentTconst     object
seasonNumber     object
episodeNumber    object
dtype: object

In [ ]:
episode.head()

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16

## Rating df

Checked for duplicate titles and any miscellaneous values in [averageRating, numVotes].

In [ ]:
ratings['tconst'].nunique() # equal to total number of rows

1023530

In [ ]:
print("Minimum and maximum number of votes are:",ratings['numVotes'].min(),"and",
      ratings['numVotes'].max(),"respectively","\nHighest and lowest ratings are:",
      ratings['averageRating'].min(),"and",ratings['averageRating'].max(),"respectively")

Minimum and maximum number of votes are: 5 and 2213132 respectively
Highest and lowest ratings are: 1.0 and 10.0 respectively

In [ ]:
print("The table has",ratings.shape[0],"rows and",ratings.shape[1],"columns.")
ratings.dtypes

The table has 1023530 rows and 3 columns.

tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [ ]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1596
1  tt0000002            6.0       196
2  tt0000003            6.5      1267
3  tt0000004            6.1       121
4  tt0000005            6.1      2032

## Name df

Checked for duplicates and dropped [birthYear, deathYear] as all the the rows are empty in them.

In [ ]:
name['nconst'].nunique() #equal to total number of rows

9962851

In [ ]:
print("All unique values in Birth year column:",name['birthYear'].unique(),
      "\nAll unique values in Death year column:",name['deathYear'].unique())

All unique values in Birth year column: ['\\N']
All unique values in Death year column: ['\\N']

In [ ]:
name= name.drop(['birthYear', 'deathYear'], axis=1)

In [ ]:
print("The table has",name.shape[0],"rows and",name.shape[1],"columns.")
name.dtypes

The table has 9962851 rows and 4 columns.

nconst               object
primaryName          object
primaryProfession    object
knownForTitles       object
dtype: object

In [ ]:
name.head()

,nconst,primaryName,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,"soundtrack,actor,miscellaneous","tt0050419,tt0072308,tt0053137,tt0043044"
1,nm0000002,Lauren Bacall,"actress,soundtrack","tt0071877,tt0117057,tt0037382,tt0038355"
2,nm0000003,Brigitte Bardot,"actress,soundtrack,producer","tt0057345,tt0059956,tt0049189,tt0054452"
3,nm0000004,John Belushi,"actor,soundtrack,writer","tt0072562,tt0078723,tt0080455,tt0077975"
4,nm0000005,Ingmar Bergman,"writer,director,actor","tt0050976,tt0083922,tt0069467,tt0050986"

## Principal df

Dropped [Job] column as most values are missing or redundant to [Catergory] Column.

In [ ]:
principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [ ]:
principals = principals.drop(['job'], axis=1)

In [ ]:
principals.head()

      tconst  ordering     nconst         category characters
0  tt0000001         1  nm1588970             self   ["Self"]
1  tt0000001         2  nm0005690         director         \N
2  tt0000001         3  nm0374658  cinematographer         \N
3  tt0000002         1  nm0721526         director         \N
4  tt0000002         2  nm1335271         composer         \N

# Merging Files

In [ ]:
merge1_df = pd.merge(akas, basics, on='tconst', how='left')
merge1_df = pd.DataFrame(data=merge1_df)
merge1_df.shape

(87197, 10)

In [2]:
merge2_df = pd.merge(merge1_df, ratings, on='tconst', how='left')
merge2_df.shape

(87197, 12)

In [ ]:
merge3_df = pd.merge(merge2_df, crew, on='tconst', how='left')
merge3_df.shape

(87197, 14)

In [ ]:
merge4_df = pd.merge(merge3_df, episode, on='tconst', how='left')
merge4_df.shape
merge4_df.to_csv (r'\Users\byc\Desktop\merge4.csv', index = False, header=True)

In [ ]:
merge5_df = pd.merge(principals,  name, on='nconst', how='left')
merge5_df.shape
merge5_df.to_csv (r'\Users\byc\Desktop\merge5.csv', index = False, header=True)

In [ ]:
merge6_df = pd.merge(merge4_df,  merge5_df, on='tconst', how='left')
merge6_df.shape

In [ ]:
merge6_df.drop(['primaryTitle','originalTitle', 'ordering'],axis=1, inplace=True)

In [ ]:
merge6_df = merge6_df.groupby(['tconst','title','titleType','isAdult','startYear','endYear','runtimeMinutes','genres','averageRating','numVotes','directors', 'writers'], sort=False)['nconst','category','characters','primaryName','primaryProfession','knownForTitles'].agg(lambda x: '||'.join(x.astype(str))).reset_index()

In [ ]:
merge6_df.replace(r'\\N','No Information', regex=True, inplace=True)

In [ ]:
def trim_head_tail_space(df_column):
    clean_df_column = df_column.str.strip()
    print("row changes in column " + str(df_column.name) +": " ,sum(df_column!=clean_df_column))
    return clean_df_column


for col in merge6_df.columns:
    if merge6_df.dtypes[col]=='object':
        merge6_df[col] = trim_head_tail_space(merge6_df[col])
    else:
        continue

In [ ]:
def remove_consecutive_spaces(df_column):
    clean_df_column = df_column.replace('\s+', ' ', regex=True)
    print("row changes in column " + str(df_column.name) +": " ,sum(df_column!=clean_df_column))
    return clean_df_column

for col in merge6_df.columns:
    merge6_df[col] = remove_consecutive_spaces(merge6_df[col])

In [ ]:
# Final DataFrame
merge6_df